@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Oswald:wght@200;300;400;500;600;700&family=Rock+3D&family=Ultra&display=swap');


/*cosas generales */
*{	
	font-family: 'oswald', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	
}

.correctorVinculos{
	text-decoration: none;
}
	#navbarSecundaria{
		width: 100%;
		height: 25%;
		text-align: center;
		background: linear-gradient(180deg, #FFBCD4 0%, rgba(255, 188, 212, 0) 100%);
		position: sticky;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		/*border-style: solid;*/
	

	}
	.logoSecundario{
		margin: 18px 50%;
		font-family: 'Bungee Shade';
		font-style: normal;
		font-weight: normal;
		font-size: 39px;
		line-height: 47px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.05em;
		color: #000000;
		opacity: 0,8;
		
		
	}
		.navbarLayout{
			display: flex;
			flex-direction: row;
			padding: 0px 28px;
			box-sizing: border-box;
			justify-content: center;
		}


/*HOJA INDEX*/


.indexLayout{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1.5fr 1.75fr 1fr;
	grid-template-areas: "header header" "stock aMedida" "coleccion coleccion" "footer footer";
	grid-row-gap: 5%;
	/*border-style: solid;*/

}
#header{
	grid-area: header;
}
#stock{
	grid-area: stock;
}
#aMedida{
	grid-area: aMedida;
}
#coleccion{
	grid-area: coleccion;
	align-content: center;
}
#footer{
	grid-area: footer;
}

#index { /*fondo*/
/*	background: linear-gradient(180deg, #FFC4D9 0%, #FFC4D9 61.98%, #252A54 83.33%);
	background-blend-mode: darken;*/
	height: auto;
	overflow-x: none;
	margin: 0px;
	padding: 0px;
	background-color: #FFBCD4;
	width: 100%;
}

	/*header*/
	#header {
		background: linear-gradient(180deg, #FFFFFF 0%, #FFBCD4 100%);
		display: flex;
		flex-direction: row;
		padding: 0px;
		margin: 0px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
		#botonera{		
			/*width: 18%;*/
		}


			.contenedorLogo{
				height: 25%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
			 	
			}
				.logo{
					font-family: Bungee Shade;
					font-size: 39px;
					font-style: normal;
					font-weight: 400;
					line-height: 47px;
					letter-spacing: -0.05em;
					text-align: center;
					color: #000000;
				 	margin: 20%;
					-webkit-text-stroke-width: 2px;
				 	-webkit-text-stroke-color: black;
				 	box-sizing: border-box;
				 	
				 	
				}
			
			.barra{
				height: 75%;
				width: 100%;
				margin: 0px;
				padding: 0px;
				list-style: none;
				display: flex;
				flex-direction: column;
				align-items: center;
				box-sizing: border-box;


			}

				.contenidoBotonera{
					text-decoration: none;
					color: rgba(0, 0, 0, 0.8);
					letter-spacing: -0.05em;
					font-weight: 300;
					font-size: 16px;
					line-height: 80px;

				}

				.contenidoBotonera:hover{
					color: rgba(0, 0, 0, 0.9);
					/*letter-spacing: -0.05em;*/
					font-weight: 400;
					font-size: 18px;
					line-height: 80px;
					box-sizing: border-box;
				}

		.slider {

			border-top-left-radius: 38px;
			border-bottom-left-radius: 38px;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			object-fit: cover;

		}
		#botonHamburguesa{
			display: none;
			
			flex-direction: column;
			justify-content: center;
			align-items: center;


		}
		.botonHamburguesa{
			width: 35px;
			height: 5px;
			margin: 6px 0;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 0.8);

		}






/* Seccion Stock y A medida */




@keyframes cajaStock{
	from {width: 0%;
		height: 10%;}
	to {width: 100%;
		height: 100%;}
}

.animation{
	animation-name: cajaStock;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-delay: 2s;
	animation-iteration-count: 2;
}

	
	#seccionStock {
		width:  50%;
		height:  100%;
		/*margin: 182px 0px;*/
/*		display: flex;
		flex-direction: row;*/
		background-color: #FFBCD4;
		box-sizing: border-box;
		border-style: solid;
	}

		.contenedorSeccionStock {
			width: 100%;
			height: 85vh;
			margin: 10% 0;
			display: flex;
			justify-content: center;
			align-items: center;

		}	

		.contenidoSeccionStock {
			font-family: Bungee Shade;
			font-size: 50px;
			font-style: normal;
			font-weight: 400;
			line-height: 60px;
			letter-spacing: -0.05em;
			text-align: center;
			cursor: pointer;
			/*margin: 50%;*/
			
		}

		.colorStock {
			color: rgba(0, 0, 0, 0.8);
		}
		.colorAmedida {
			color: rgba(255, 204, 222, 1)
		}

		.fondoStock {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
		}

		.fondoAmedida {
			background: linear-gradient(180deg, #252A54 0%, rgba(37, 42, 84, 0) 100%);
		}





	/*seccion Coleccion nueva*/ 







	#coleccion{
		padding: 0 15%;
		box-sizing: border-box;
		color: #252A54;
		display: flex;
		flex-direction: column;
		align-content: center;
		background-color: #FFBCD4;
		height: auto;
		}

		.coleccion__titulo--tipografia {
			font-family: Bungee Shade;
			font-style: normal;
			font-weight: normal;
			font-size: 35px;
			line-height: 31px;
			box-sizing: border-box;
			text-align: center;
			/*margin: auto 33%;*/
			align-items: center;
			color: rgba(0, 0, 0, 0.8);
			/*padding: 0 30%;*/
			width: 100%;
			/*height: 20%;*/


		}

		.coleccion__descripcion--tipografia {
			font-family: Oswald;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 27px;

			text-align: center;
			box-sizing: border-box;
			width: 100%;
			padding: 4.17% 2%;
			
			color: rgba(0, 0, 0, 0.8);





		}


		.coleccionLayout{
			display: flex;
			flex-direction: row;
			height: auto;
			box-sizing: border-box;

			
		}
		.productoContenedor{
			width: 33%;
			padding: 4.17%;
			box-sizing: border-box;
		}

/*CLASES REPETIDAS EN HOJA PRODUCTOS*/

		#producto .coleccionLayout{
			flex-wrap: wrap;
			width: 66.67%;
			height: auto;
			margin: 29px 16.665% 15% ;
		}

		#producto #catalogo .productoContenedor{

				/*border: 1px solid rgba(0, 0, 0, 0.8);*/
			
		}

		.tamañoFoto{
			display: block;
			width: 100%;
			height: 315px;
			object-fit: cover;
		}
		.productoContenedor:hover{
			/*transform: scale(1.1);*/
			transition: all 1s;
			border: none;
			padding: 0;
		}
		#catalogo{
			margin: 0 0 15% 0;
		}



		.producto__descripcion--tipografia{
			font-family:'Oswald';
			font-family: Oswald;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
			align-items: center;
			text-align: center;
			letter-spacing: -0.05em;
			color: rgba(0, 0, 0, 0.6);

		}











	/*footer*/





	#footer{
		height: 70vh;
		width: 100%;
		
	}
		.footerBackground{
/*			background: linear-gradient(180deg, #FFFFFF 0%, #252A54 40%);
			margin: 0;
			padding: 0;
			height: 70vh;*/

		}

.footerBackground {
	background: linear-gradient(-45deg, #FFFFFF 0%, #e73c7e, #252A54 40%, #FFBCD4 80%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


		.footerBackgroundIndex{
			background: linear-gradient(180deg, #FFBCD4 0%, #252A54 38.54%);
			margin: 0;
			padding: 0;
			height: 70vh;
			
		}
		.footer{
			width: 90%;
			height: 100%;
			display: flex;
			flex-direction: row;
			margin: 0 5%;
			box-sizing: border-box;
		}
		.footer__categorias--display{
			display: flex;
			flex-direction: column;
			align-content: center;
			width: 20%;
			/*height: 100%;*/
			box-sizing: border-box;
			margin: 15% 0;
			padding-left: 5%;
			/*align-items: center;
			justify-content: start;*/
			
		}

		.footer__titulos--tipografia{
			font-family:'Oswald';
			font-style: normal;
			font-weight: normal;
			font-size: 26px;
			line-height: 24px;
			color: #FFFFFF;
			padding: 10% 0;
		}
		.footer__contenido--display{
			display: flex;
			flex-direction: column;
			font-family: 'Oswald';
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 30px;
			color: #FFFFFF;
			padding: 10% 0;
			box-sizing: border-box;		
		}	
		.footerContenido{
			text-decoration: none;
			color: #FFFFFF;
			font-size: 15px;
			
			
		}












/*HOJA PRODUCTO*/






#producto{
	width: 100%;
	height: auto;
	overflow-x: none;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}
		.subindiceMargenes{
			width: 66.67%;
			height: 40px;
			text-align: left;
			justify-content: center ;
			align-items: center;
			align-content: center;
			border-bottom: 1px solid rgba(0, 0, 0, 0.8);
			margin: 29px 16.665%;
		}

		.subindice__inicio--tipografia{
			font-family: Ultra;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 0px;
			letter-spacing: -0.05em;
			color: rgba(0, 0, 0, 0.8);
			text-decoration: none;

			box-sizing: border-box;

		
		}
		.subindice__actual--tipografia{
			font-family: Ultra;
			font-style: normal;
			font-weight: normal;
			font-size: 40px;
			line-height: 0px;
			letter-spacing: -0.05em;
			color: rgba(0, 0, 0, 0.8);

			
		}


		.productoLayout{
/*			width: 66.67%;
			height: auto;
			margin: 29px 16.665%;
			box-sizing: border-box;
			border: 1px solid rgba(0, 0, 0, 0.8);
			padding: 0;*/
		}









/*Hoja informacion*/






#informacion main h2{
	font-family: Ultra;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 25px;
	letter-spacing: -0.05em;

	color: rgba(0, 0, 0, 0.8);
}

	#informacion main article, ul{
		margin: 30px 16.665%;
	}

	#informacion main article p, h3, ul{
		margin: 15px;
	}




/*Hoja encargos*/







	.formulario form, .formulario h2, .formulario p{
		margin: 30px 16.665%;
	}

	fieldset{
		margin: 10px 0;
		border-radius: 10px;







	}

/*Media Queries*/

@media (min-width: 1px) and (max-width: 991.99px){
	.indexLayout{
		grid-template-rows: 2fr 2fr 2fr 2fr;
		grid-row-gap: 0;

	}


	#header{
		justify-content: stretch;
	}
	.botonera{
		width: 50%;
	}
	.contenedorSlider{
		width: 100%;
	}
	.logo{
		font-size: 30px;
	}
	.slider{
		width: 100%;
	}
	.contenidoSeccionStock {
		font-size: 40px;

	}

	#coleccion{
		padding: 0;
	}

	.footer{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		padding: 30% 5% 0 5%;
		width: auto;
	}
	.footer__categorias--display{
		width:auto;
		
		margin: 0 0 5% 0;

	}
		.footerBackgroundIndex{
		height: auto;
		width: 100wh;
	}
	#footer{
		height: auto;
	}


	.subindiceMargenes{
		width: 90%;
		height: 40px;
		text-align: left;
		justify-content: center ;
		align-items: center;
		align-content: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.8);
		margin: 29px 5%;
	}

	#producto .coleccionLayout{
		width: 90%;
		height: auto;
		margin: 29px 5%;
	}
}








@media (min-device-width: 1px) and (max-device-width: 991.99px){
	/*seccion header*/

	.indexLayout{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		/*border-style: solid;*/

	}
	.contenedorSeccionStock{
		width: 50%;
	}
	#header{
		background-image: url(../fotos/slider.jpg);
		background-color: none;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100%;
		display: grid;
	}

	.slider, header nav .barra, .navbarLayout, .contenedorSlider{
		display: none;
	}
	

		#botonera, #navbarSecundaria{
			display: grid;
			grid-template-columns: 20% 60% 20%;
			position: relative;
			grid-template-areas: "botonHamburguesa contenedorLogo none";
			width: 100%;
			height: 20vh;
			justify-items: center;
			align-items: top;

		}
			#botonHamburguesa{
				display: flex;
				grid-area: botonHamburguesa;
				height: 20vh;
			}		


			.contenedorLogo{
				grid-area: contenedorLogo;
				height: 20vh;
			}


			.logo, .logoSecundario{
			margin: 10vh;
			font-size: 2.4rem;

			}
			.
	/*seccion stock*/
	.contenidoSeccionStock{
		margin: 0;
	}

	.contenidoSeccionStock {
		font-size: 30px;

		margin: 0;
	
	}

	/*coleccion*/

	.coleccion__titulo--tipografia{
		font-size: 30px;
		padding: 0 20%;
	}

	.coleccion__descripcion--tipografia{
		font-size: 16px;
		height: auto;
		padding: 5% 5%;
		
	}



		#index .productoContenedor{
			padding: 0 2%;
			
		}

		#index .coleccionLayout{
				padding: 0 5%;
			}

		#index .tamañoFoto{

			height: 80%;

		}



		#index .producto__descripcion--layout{
			display: flex;
			flex-direction: column;
			justify-content: baseline;
			height: 20%%;
			
			box-sizing: border-box;
		}


	#footer{
		height: auto;
		margin: 10vh 0 0 0;
		padding: 0 5%;
		box-sizing: border-box;
	}
	.footer{
		display: flex;
		flex-direction: row;

	}

	.footerBackgroundIndex{
		height: 100%;
		width: 100wh;
	}

	.footer__categorias--display{
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 2%;
		padding: 0;
	}
	.footer__contenido--display{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: space-evenly;
			font-size: 19px;
			padding: 0;
			box-sizing: border-box;
			/*height: fit-contents;	*/

	}
	#footer p{
		width: 50%;
		margin: 3% 0;
	}
	.footer__titulos--tipografia{
		font-size: 20px;
		height: auto;
		padding: 0%;
		margin: 0;

	}

	/*HOJA PRODUCTO*/


		.subindice__actual--tipografia{
			font-size: 25px;
		}
		.subindice__inicio--tipografia{
			font-size: 16px;
		}

		#catalogo{
			margin: 0;
			padding: 0;
		}

		#producto .coleccionLayout{
			width: 80%;
			height: auto;
			margin: 29px 10%;
		}
		#producto #catalogo .productoContenedor{
				border: none;
				width: 50%;
				
		}
}		

		





